<a href="https://colab.research.google.com/github/UEPP40/PUM/blob/Debere/zajecia2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
df = pd.read_csv("train.csv")
df.head()

<ipython-input-4-dd23e3a89ca9>:2: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("train.csv")

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

In [33]:
df.shape

(97224, 28)

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 95187 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        95187 non-null  object
 1   Customer_ID               95187 non-null  object
 2   Month                     95187 non-null  object
 3   Name                      95187 non-null  object
 4   Age                       95187 non-null  int64
 5   SSN                       95187 non-null  object
 6   Occupation                95187 non-null  object
 7   Annual_Income             95187 non-null  float64
 8   Monthly_Inhand_Salary     95187 non-null  float64
 9   Num_Bank_Accounts         95187 non-null  int64
 10  Num_Credit_Card           95187 non-null  int64
 11  Interest_Rate             95187 non-null  int64
 12  Num_of_Loan               95187 non-null  float64
 13  Type_of_Loan              84365 non-null  object
 14  Delay_from_due_date       95187 non-null  int64
 15  Num_of_Delayed_Payment    88494 non-null  float64
 16  Changed_Credit_Limit      95187 non-null  float64
 17  Num_Credit_Inquiries      93323 non-null  float64
 18  Credit_Mix                95187 non-null  object
 19  Outstanding_Debt          95187 non-null  float64
 20  Credit_Utilization_Ratio  95187 non-null  float64
 21  Credit_History_Age        86584 non-null  float64
 22  Payment_of_Min_Amount     95187 non-null  object
 23  Total_EMI_per_month       95187 non-null  float64
 24  Amount_invested_monthly   90942 non-null  float64
 25  Payment_Behaviour         95187 non-null  object
 26  Monthly_Balance           92437 non-null  float64
 27  Credit_Score              95187 non-null  object
dtypes: float64(12), int64(5), object(11)
memory usage: 21.1+ MB

In [7]:
df.drop_duplicates(subset="ID", inplace=True)

In [43]:
df.head(50)

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22.083333,No,49.574949,80.415295,High_spent_Small_value_payments,312.494089,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.280222,Low_spent_Large_value_payments,284.629162,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,31.377862,22.333333,No,49.574949,199.458074,Low_spent_Small_value_payments,223.451310,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22.416667,No,49.574949,41.420153,High_spent_Medium_value_payments,341.489231,Good
5,0x1607,CUS_0xd40,June,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,27.262259,22.500000,No,49.574949,62.430172,!@9#%8,340.479212,Good
6,0x1608,CUS_0xd40,July,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,22.537593,22.583333,No,49.574949,178.344067,Low_spent_Small_value_payments,244.565317,Good
7,0x1609,CUS_0xd40,August,nan,23,#F%$D@*&8,Scientist,19114.12,1824.843333,3,...,Good,809.98,23.933795,NaN,No,49.574949,24.785217,High_spent_Medium_value_payments,358.124168,Standard
8,0x160e,CUS_0x21b1,January,Rick Rothackerj,28,004-07-5839,_______,34847.84,3037.986667,2,...,Good,605.03,24.464031,26.583333,No,18.816215,104.291825,Low_spent_Small_value_payments,470.690627,Standard
9,0x160f,CUS_0x21b1,February,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2,...,Good,605.03,38.550848,26.666667,No,18.816215,40.391238,High_spent_Large_value_payments,484.591214,Good
10,0x1610,CUS_0x21b1,March,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2,...,_,605.03,33.224951,26.750000,No,18.816215,58.515976,High_spent_Large_value_payments,466.466476,Standard
11,0x1611,CUS_0x21b1,April,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2,...,Good,605.03,39.182656,26.833333,No,18.816215,99.306228,Low_spent_Medium_value_payments,465.676224,Good
12,0x1612,CUS_0x21b1,May,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2,...,Good,605.03,34.977895,26.916667,No,18.816215,130.115420,Low_spent_Small_value_payments,444.867032,Good
13,0x1613,CUS_0x21b1,June,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2,...,Good,605.03,33.381010,27.000000,No,18.816215,43.477190,High_spent_Large_value_payments,481.505262,Good
14,0x1614,CUS_0x21b1,July,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2,...,Good,605.03,31.131702,27.083333,NM,18.816215,70.101774,High_spent_Medium_value_payments,464.880678,Good
15,0x1615,CUS_0x21b1,August,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2,...,Good,605.03,32.933856,27.166667,No,18.816215,218.904344,Low_spent_Small_value_payments,356.078109,Good
16,0x161a,CUS_0x2dbc,January,Langep,34,486-85-3974,_______,143162.64,12187.220000,1,...,Good,1303.01,28.616735,17.750000,No,246.992319,168.413703,!@9#%8,1043.315978,Good
17,0x161b,CUS_0x2dbc,February,nan,34,486-85-3974,Engineer,143162.64,12187.220000,1,...,Good,1303.01,41.702573,17.833333,No,246.992319,232.860384,High_spent_Small_value_payments,998.869297,Good
18,0x161c,CUS_0x2dbc,March,Langep,34,486-85-3974,_______,143162.64,12187.220000,1,...,Good,1303.01,26.519815,17.916667,No,246.992319,10000.000000,High_spent_Small_value_payments,715.741367,Good
19,0x161d,CUS_0x2dbc,April,Langep,34,486-85-3974,Engineer,143162.64,12187.220000,1,...,_,1303.01,39.501648,NaN,No,246.992319,825.216270,Low_spent_Medium_value_payments,426.513411,Good
20,0x161e,CUS_0x2dbc,May,Langep,34,486-85-3974,_______,143162.64,12187.220000,1,...,Good,1303.01,31.376150,18.083333,No,246.992319,430.947528,Low_spent_Large_value_payments,810.782153,Good
21,0x161f,CUS_0x2dbc,June,Langep,34,486-85-3974,Engineer,143162.64,12187.220000,1,...,Good,1303.01,39.783993,18.166667,No,246.992319,257.808099,High_spent_Medium_value_payments,963.921581,Good
22,0x1620,CUS_0x2dbc,July,nan,34,486-85-3974,Engineer,143162.64,12187.220000,1,...,Good,1303.01,38.068624,18.250000,No,246.992319,263.174163,High_spent_Small_value_payments,968.555517,Standard
23,0x1621,CUS_0x2dbc,August,Langep,34,486-85-3974,Engineer,143162.64,12187.220000,1,...,Good,1303.01,38.374753,18.333333,No,246.992319,10000.000000,High_spent_Small_value_payments,895.494583,Standard
24,0x1626,CUS_0xb891,January,Jasond,54,072-31-6145,Entrepreneur,30689.89,2612.490833,2,...,Good,632.46,26.544229,17.250000,No,16.415452,81.228859,Low_spent_Large_value_payments,433.604773,Standard
25,0x1627,CUS_0xb891,February,Jasond,54,072-31-6145,Entrepreneur,30689.89,2612.490833,2,...,Good,632.46,35.279982,17.333333,No,16.415452,124.881820,Low_spent_Small_value_payments,409.951812,Standard
26,0x1628,CUS_0xb891,March,Jasond,55,072-31-6145,Entrepreneur,30689.89,2612.490833,2,...,Good,632.46,32.301163,17.416667,NM,16.415452,83.406509,High_spent_Medium_value_payments,411.427123,Standard
27,0x1629,CUS_0xb891,April,Jasond,55,072-31-6145,Entrepreneur,30689.89,2612.490833,2,...,Good,632.46,38.132348,17.500000,No,16.415452,272.334037,Low_spent_Small_value_payments,262.499594,Standard
28,0x162a,CUS_0xb891,May,Jasond,55,072-31-6145,Entrepreneur,30689.89,2612.490833,2,...,Good,632.46,41.154317,17.583333,No,16.415452,10000.000000,Low_spent_Large_value_payments,359.374916,Standard
29,0x162b,CUS_0xb891,June,Jasond,55,#F%$D@*&8,_______,30689.89,2612.490833,2,...,_,632.46,27.445422,17.666667,No,16.415452,84.952848,High_spent_Small_value_payments,419.880784,Standard
30,0x162c,CUS_0xb891,July,Jasond,55,072-31-6145,Entrepreneur,30689.89,2612.490833,2,...,Good,632.46,26.056395,17.750000,No,16.415452,71.283675,Low_spent_Large_value_payments,443.549957,Standard
31,0x162d,CUS_0xb891,August,Jasond,55,072-31-6145,Entrepreneur,30689.89,2612.490833,2,...,Good,632.46,27.332515,17.833333,No,16.415452,125.617251,High_spent_Small_value_payments,379.216381,Standard
32,0x1632,CUS_0x1cdb,January,Deepaa,21,615-06-7821,Developer,35547.71,2853.309167,7,...,Standard,943.86,39.797764,30.666667,Yes,0.000000,276.725394,!@9#%8,288.605522,Standard
33,0x1633,CUS_0x1cdb,February,Deepaa,21,615-06-7821,Developer,35547.71,2853.309167,7,...,Standard,943.86,27.020360,30.750000,NM,0.000000,74.443641,High_spent_Medium_value_payments,460.887276,Standard
34,0x1634,CUS_0x1cdb,March,Deepaa,21,615-06-7821,Developer,35547.71,2853.309167,7,...,Standard,943.86,23.462303,30.833333,Yes,0.000000,173.138651,Low_spent_Medium_value_payments,392.192266,Standard
35,0x1635,CUS_0x1cdb,April,Deepaa,21,615-06-7821,Developer,35547.71,2853.309167,7,...,_,943.86,28.924954,30.916667,Yes,0.000000,96.785485,High_spent_Medium_value_payments,438.545432,Standard
36,0x1636,CUS_0x1cdb,May,Deepaa,21,615-06-7821,Developer,35547.71,2853.309167,7,...,_,943.86,41.776187,31.000000,Yes,0.000000,62.723278,High_spent_Small_value_payments,482.607638,Standard
37,0x1637,CUS_0x1cdb,June,Deepaa,21,615-06-7821,Developer,35547.71,2853.309167,7,...,Standard,943.86,29.217556,31.083333,Yes,0.000000,37.643638,High_spent_Medium_value_payments,497.687279,Standard
38,0x1638,CUS_0x1cdb,July,Deepaa,21,615-06-7821,Developer,35547.71,2853.309167,7,...,Standard,943.86,26.263823,31.166667,Yes,0.000000,181.011983,Low_spent_Small_value_payments,394.318934,Standard
39,0x1639,CUS_0x1cdb,August,Deepaa,21,615-06-7821,Developer,35547.71,2853.309167,7,...,Standard,943.86,25.862922,31.250000,Yes,0.000000,181.330901,High_spent_Small_value_payments,364.000016,Standard
40,0x163e,CUS_0x95ee,January,Np,31,612-70-8987,Lawyer,73928.46,2853.309167,4,...,Good,548.20,39.962685,NaN,No,15015.000000,98.674410,High_spent_Large_value_payments,740.196090,Good
41,0x163f,CUS_0x95ee,February,Np,31,612-70-8987,_______,73928.46,5988.705000,4,...,Good,548.20,42.769864,32.000000,NM,0.000000,172.939214,Low_spent_Medium_value_payments,705.931286,Good
42,0x1640,CUS_0x95ee,March,Np,31,612-70-8987,Lawyer,73928.46,5988.705000,4,...,Good,548.20,40.712187,NaN,No,0.000000,150.059734,High_spent_Medium_value_payments,698.810766,Good
43,0x1641,CUS_0x95ee,April,Np,31,612-70-8987,Lawyer,73928.46,5988.705000,4,...,Good,548.20,30.201658,32.166667,No,0.000000,618.202391,Low_spent_Small_value_payments,270.668109,Good
44,0x1642,CUS_0x95ee,May,Np,31,612-70-8987,Lawyer,73928.46,5988.705000,4,...,_,548.20,26.333310,32.250000,No,0.000000,177.951836,Low_spent_Large_value_payments,690.918664,Good
45,0x1643,CUS_0x95ee,June,Np,31,612-70-8987,Lawyer,73928.46,5988.705000,4,...,Good,548.20,35.275437,NaN,No,15515.000000,235.790325,Low_spent_Large_value_payments,633.080175,Good
46,0x1644,CUS_0x95ee,July,Np,31,612-70-8987,Lawyer,73928.46,5988.705000,4,...,_,548.20,36.624791,32.416667,No,0.000000,348.509400,High_spent_Small_value_payments,510.361100,Standard
47,0x1645,CUS_0x95ee,August,Np,31,612-70-8987,Lawyer,73928.46,5988.705000,4,...,Good,548.20,31.580990,32.500000,No,0.000000,42.635590,!@9#%8,796.234910,Good
48,0x164a,CUS_0x284a,January,Nadiaq,33,411-51-0676,Lawyer,131313.40,11242.783333,0,...,Good,352.16,32.200509,30.583333,NM,137.644605,378.171254,High_spent_Medium_value_payments,858.462474,Good
49,0x164b,CUS_0x284a,February,Nadiaq,34,411-51-0676,Lawyer,131313.40,11242.783333,0,...,Good,352.16,31.983710,30.666667,No,137.644605,698.873271,High_spent_Small_value_payments,547.760457,Good
50,0x164c,CUS_0x284a,March,Nadiaq,34,411-51-0676,Lawyer,131313.40,10469.207759,0,...,Good,352.16,31.803134,30.750000,NM,911.220179,188.064321,High_spent_Large_value_payments,1038.569407,Good

In [10]:
duplicates = df.duplicated(subset=['ID'])
if duplicates.any():
    print("Znaleziono duplikaty w kolumnie 'ID'.")
    print(df[duplicates])
else:
    print("Brak duplikatów w kolumnie 'ID'.")

Brak duplikatów w kolumnie 'ID'.

In [15]:
# Sprawdź unikalne wartości w kolumnie 'Age'
unique_age_values = df['Age'].unique()

# Sprawdź, czy istnieją wartości, które nie są liczbami
invalid_age_values = []

for value in unique_age_values:
    try:
        int_value = int(value)
    except ValueError:
        invalid_age_values.append(value)

if invalid_age_values:
    print("Znaleziono nieprawidłowe wartości w kolumnie 'Age':", invalid_age_values)
else:
    print("Brak nieprawidłowych wartości w kolumnie 'Age'.")

Znaleziono nieprawidłowe wartości w kolumnie 'Age': ['28_', '34_', '30_', '24_', '33_', '35_', '31_', '40_', '37_', '54_', '21_', '20_', '43_', '38_', '18_', '2111_', '46_', '16_', '19_', '47_', '53_', '25_', '27_', '55_', '42_', '48_', '49_', '50_', '32_', '22_', '17_', '29_', '15_', '51_', '26_', '39_', '14_', '36_', '44_', '7670_', '45_', '23_', '41_', '52_', '733_', '5769_', '4383_', '56_', '2650_', '3307_', '6962_', '5589_', '6556_', '1447_', '8153_', '3834_', '6744_', '6471_', '7723_', '7640_', '6408_', '3502_', '7316_', '1102_', '8669_', '2463_', '6666_', '3055_', '1248_', '2220_', '2159_', '4583_', '3988_', '2155_', '6770_', '1843_', '1367_', '3742_', '2171_', '5109_', '3984_', '2474_', '5046_', '7715_', '2329_', '707_', '844_', '2756_', '2037_', '902_', '8523_', '3640_', '3998_', '3712_', '2097_', '8348_', '5373_', '3291_', '2994_', '3339_', '2812_', '3578_', '3564_', '1794_', '737_', '4301_', '2846_', '2373_', '1188_', '8207_', '5909_', '6381_', '8616_', '6799_', '1591_', '3775_', '6564_', '7122_', '4913_', '5697_', '3843_', '4445_', '6921_', '780_', '1070_', '5798_', '4808_']

In [16]:
df['Age'] = df['Age'].str.replace('_','')

In [21]:
df['Monthly_Inhand_Salary'] = df['Monthly_Inhand_Salary'].fillna(method='pad')

In [23]:
df['Annual_Income'] = df['Annual_Income'].str.replace('_','')

In [24]:
df["ID"] = df["ID"].astype(str)
df["Customer_ID"] = df["Customer_ID"].astype(str)
df["Month"] = df["Month"].astype(str)
df["Name"] = df["Name"].astype(str)
df["Age"] = df["Age"].astype(int)
df["Annual_Income"] = df["Annual_Income"].astype(float)
df["Monthly_Inhand_Salary"] = df["Monthly_Inhand_Salary"].astype(float)

In [26]:
# Sprawdź unikalne wartości w kolumnie 'Age'
unique_age_values = df['Age'].unique()

# Sprawdź, czy istnieją wartości, które nie są liczbami
invalid_age_values = []

for value in unique_age_values:
    try:
        int_value = int(value)
    except ValueError:
        invalid_age_values.append(value)

if invalid_age_values:
    print("Znaleziono nieprawidłowe wartości w kolumnie 'Age':", invalid_age_values)
else:
    print("Brak nieprawidłowych wartości w kolumnie 'Age'.")

Brak nieprawidłowych wartości w kolumnie 'Age'.

In [27]:

df["ID"]=df["ID"].fillna('NaN')
df['Customer_ID'] = df['Customer_ID'].fillna('NaN')
df['Month'] = df['Month'].fillna('NaN')
df['Name'] = df['Name'].fillna('NaN')

In [30]:
df = df.drop(df[(df['Age'] > 100) | (df['Age'] < 0)].index) #błędnie - usunąłem wiersze ktore miały zły wieku

In [34]:
df["Num_Bank_Accounts"] = df["Num_Bank_Accounts"].astype(int)

In [36]:
FeaturesToConvert = ['Num_of_Loan', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit', 'Outstanding_Debt', 'Amount_invested_monthly', 'Monthly_Balance']
for feature in FeaturesToConvert:
  df[feature] = df[feature].str.replace('_','')

In [39]:
df["Amount_invested_monthly"] = df["Amount_invested_monthly"].astype(float)
df["Monthly_Balance"] = df["Monthly_Balance"].astype(float)
df["Credit_Utilization_Ratio"] = df["Credit_Utilization_Ratio"].astype(float)
df["Outstanding_Debt"] = df["Outstanding_Debt"].astype(float)
df["Num_of_Delayed_Payment"] = df["Num_of_Delayed_Payment"].astype(float)
df["Num_of_Loan"] = df["Num_of_Loan"].astype(float)
df = df.dropna(subset=["Changed_Credit_Limit"])
df = df[df["Changed_Credit_Limit"] != '']
df["Changed_Credit_Limit"] = df["Changed_Credit_Limit"].astype(float)
df["Num_of_Delayed_Payment"] = df["Num_of_Delayed_Payment"].astype(float)
df["Num_of_Loan"] = df["Num_of_Loan"].astype(float)

In [41]:
def convert_to_years(text):
    if isinstance(text, str):
        parts = text.split()
        year = int(parts[0])
        month = int(parts[3])

        credit_age_numeric = year + month / 12
        return credit_age_numeric
    else:
        return text
df["Credit_History_Age"] = df["Credit_History_Age"].apply(lambda x: convert_to_years(x))

In [45]:
df["Credit_History_Age"] = df["Credit_History_Age"].fillna(0)
df["Credit_History_Age"] = df["Credit_History_Age"].astype(float)
df.head(50)

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22.083333,No,49.574949,80.415295,High_spent_Small_value_payments,312.494089,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,31.944960,0.000000,No,49.574949,118.280222,Low_spent_Large_value_payments,284.629162,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,31.377862,22.333333,No,49.574949,199.458074,Low_spent_Small_value_payments,223.451310,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22.416667,No,49.574949,41.420153,High_spent_Medium_value_payments,341.489231,Good
5,0x1607,CUS_0xd40,June,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,27.262259,22.500000,No,49.574949,62.430172,!@9#%8,340.479212,Good
6,0x1608,CUS_0xd40,July,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,22.537593,22.583333,No,49.574949,178.344067,Low_spent_Small_value_payments,244.565317,Good
7,0x1609,CUS_0xd40,August,nan,23,#F%$D@*&8,Scientist,19114.12,1824.843333,3,...,Good,809.98,23.933795,0.000000,No,49.574949,24.785217,High_spent_Medium_value_payments,358.124168,Standard
8,0x160e,CUS_0x21b1,January,Rick Rothackerj,28,004-07-5839,_______,34847.84,3037.986667,2,...,Good,605.03,24.464031,26.583333,No,18.816215,104.291825,Low_spent_Small_value_payments,470.690627,Standard
9,0x160f,CUS_0x21b1,February,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2,...,Good,605.03,38.550848,26.666667,No,18.816215,40.391238,High_spent_Large_value_payments,484.591214,Good
10,0x1610,CUS_0x21b1,March,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2,...,_,605.03,33.224951,26.750000,No,18.816215,58.515976,High_spent_Large_value_payments,466.466476,Standard
11,0x1611,CUS_0x21b1,April,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2,...,Good,605.03,39.182656,26.833333,No,18.816215,99.306228,Low_spent_Medium_value_payments,465.676224,Good
12,0x1612,CUS_0x21b1,May,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2,...,Good,605.03,34.977895,26.916667,No,18.816215,130.115420,Low_spent_Small_value_payments,444.867032,Good
13,0x1613,CUS_0x21b1,June,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2,...,Good,605.03,33.381010,27.000000,No,18.816215,43.477190,High_spent_Large_value_payments,481.505262,Good
14,0x1614,CUS_0x21b1,July,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2,...,Good,605.03,31.131702,27.083333,NM,18.816215,70.101774,High_spent_Medium_value_payments,464.880678,Good
15,0x1615,CUS_0x21b1,August,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2,...,Good,605.03,32.933856,27.166667,No,18.816215,218.904344,Low_spent_Small_value_payments,356.078109,Good
16,0x161a,CUS_0x2dbc,January,Langep,34,486-85-3974,_______,143162.64,12187.220000,1,...,Good,1303.01,28.616735,17.750000,No,246.992319,168.413703,!@9#%8,1043.315978,Good
17,0x161b,CUS_0x2dbc,February,nan,34,486-85-3974,Engineer,143162.64,12187.220000,1,...,Good,1303.01,41.702573,17.833333,No,246.992319,232.860384,High_spent_Small_value_payments,998.869297,Good
18,0x161c,CUS_0x2dbc,March,Langep,34,486-85-3974,_______,143162.64,12187.220000,1,...,Good,1303.01,26.519815,17.916667,No,246.992319,10000.000000,High_spent_Small_value_payments,715.741367,Good
19,0x161d,CUS_0x2dbc,April,Langep,34,486-85-3974,Engineer,143162.64,12187.220000,1,...,_,1303.01,39.501648,0.000000,No,246.992319,825.216270,Low_spent_Medium_value_payments,426.513411,Good
20,0x161e,CUS_0x2dbc,May,Langep,34,486-85-3974,_______,143162.64,12187.220000,1,...,Good,1303.01,31.376150,18.083333,No,246.992319,430.947528,Low_spent_Large_value_payments,810.782153,Good
21,0x161f,CUS_0x2dbc,June,Langep,34,486-85-3974,Engineer,143162.64,12187.220000,1,...,Good,1303.01,39.783993,18.166667,No,246.992319,257.808099,High_spent_Medium_value_payments,963.921581,Good
22,0x1620,CUS_0x2dbc,July,nan,34,486-85-3974,Engineer,143162.64,12187.220000,1,...,Good,1303.01,38.068624,18.250000,No,246.992319,263.174163,High_spent_Small_value_payments,968.555517,Standard
23,0x1621,CUS_0x2dbc,August,Langep,34,486-85-3974,Engineer,143162.64,12187.220000,1,...,Good,1303.01,38.374753,18.333333,No,246.992319,10000.000000,High_spent_Small_value_payments,895.494583,Standard
24,0x1626,CUS_0xb891,January,Jasond,54,072-31-6145,Entrepreneur,30689.89,2612.490833,2,...,Good,632.46,26.544229,17.250000,No,16.415452,81.228859,Low_spent_Large_value_payments,433.604773,Standard
25,0x1627,CUS_0xb891,February,Jasond,54,072-31-6145,Entrepreneur,30689.89,2612.490833,2,...,Good,632.46,35.279982,17.333333,No,16.415452,124.881820,Low_spent_Small_value_payments,409.951812,Standard
26,0x1628,CUS_0xb891,March,Jasond,55,072-31-6145,Entrepreneur,30689.89,2612.490833,2,...,Good,632.46,32.301163,17.416667,NM,16.415452,83.406509,High_spent_Medium_value_payments,411.427123,Standard
27,0x1629,CUS_0xb891,April,Jasond,55,072-31-6145,Entrepreneur,30689.89,2612.490833,2,...,Good,632.46,38.132348,17.500000,No,16.415452,272.334037,Low_spent_Small_value_payments,262.499594,Standard
28,0x162a,CUS_0xb891,May,Jasond,55,072-31-6145,Entrepreneur,30689.89,2612.490833,2,...,Good,632.46,41.154317,17.583333,No,16.415452,10000.000000,Low_spent_Large_value_payments,359.374916,Standard
29,0x162b,CUS_0xb891,June,Jasond,55,#F%$D@*&8,_______,30689.89,2612.490833,2,...,_,632.46,27.445422,17.666667,No,16.415452,84.952848,High_spent_Small_value_payments,419.880784,Standard
30,0x162c,CUS_0xb891,July,Jasond,55,072-31-6145,Entrepreneur,30689.89,2612.490833,2,...,Good,632.46,26.056395,17.750000,No,16.415452,71.283675,Low_spent_Large_value_payments,443.549957,Standard
31,0x162d,CUS_0xb891,August,Jasond,55,072-31-6145,Entrepreneur,30689.89,2612.490833,2,...,Good,632.46,27.332515,17.833333,No,16.415452,125.617251,High_spent_Small_value_payments,379.216381,Standard
32,0x1632,CUS_0x1cdb,January,Deepaa,21,615-06-7821,Developer,35547.71,2853.309167,7,...,Standard,943.86,39.797764,30.666667,Yes,0.000000,276.725394,!@9#%8,288.605522,Standard
33,0x1633,CUS_0x1cdb,February,Deepaa,21,615-06-7821,Developer,35547.71,2853.309167,7,...,Standard,943.86,27.020360,30.750000,NM,0.000000,74.443641,High_spent_Medium_value_payments,460.887276,Standard
34,0x1634,CUS_0x1cdb,March,Deepaa,21,615-06-7821,Developer,35547.71,2853.309167,7,...,Standard,943.86,23.462303,30.833333,Yes,0.000000,173.138651,Low_spent_Medium_value_payments,392.192266,Standard
35,0x1635,CUS_0x1cdb,April,Deepaa,21,615-06-7821,Developer,35547.71,2853.309167,7,...,_,943.86,28.924954,30.916667,Yes,0.000000,96.785485,High_spent_Medium_value_payments,438.545432,Standard
36,0x1636,CUS_0x1cdb,May,Deepaa,21,615-06-7821,Developer,35547.71,2853.309167,7,...,_,943.86,41.776187,31.000000,Yes,0.000000,62.723278,High_spent_Small_value_payments,482.607638,Standard
37,0x1637,CUS_0x1cdb,June,Deepaa,21,615-06-7821,Developer,35547.71,2853.309167,7,...,Standard,943.86,29.217556,31.083333,Yes,0.000000,37.643638,High_spent_Medium_value_payments,497.687279,Standard
38,0x1638,CUS_0x1cdb,July,Deepaa,21,615-06-7821,Developer,35547.71,2853.309167,7,...,Standard,943.86,26.263823,31.166667,Yes,0.000000,181.011983,Low_spent_Small_value_payments,394.318934,Standard
39,0x1639,CUS_0x1cdb,August,Deepaa,21,615-06-7821,Developer,35547.71,2853.309167,7,...,Standard,943.86,25.862922,31.250000,Yes,0.000000,181.330901,High_spent_Small_value_payments,364.000016,Standard
40,0x163e,CUS_0x95ee,January,Np,31,612-70-8987,Lawyer,73928.46,2853.309167,4,...,Good,548.20,39.962685,0.000000,No,15015.000000,98.674410,High_spent_Large_value_payments,740.196090,Good
41,0x163f,CUS_0x95ee,February,Np,31,612-70-8987,_______,73928.46,5988.705000,4,...,Good,548.20,42.769864,32.000000,NM,0.000000,172.939214,Low_spent_Medium_value_payments,705.931286,Good
42,0x1640,CUS_0x95ee,March,Np,31,612-70-8987,Lawyer,73928.46,5988.705000,4,...,Good,548.20,40.712187,0.000000,No,0.000000,150.059734,High_spent_Medium_value_payments,698.810766,Good
43,0x1641,CUS_0x95ee,April,Np,31,612-70-8987,Lawyer,73928.46,5988.705000,4,...,Good,548.20,30.201658,32.166667,No,0.000000,618.202391,Low_spent_Small_value_payments,270.668109,Good
44,0x1642,CUS_0x95ee,May,Np,31,612-70-8987,Lawyer,73928.46,5988.705000,4,...,_,548.20,26.333310,32.250000,No,0.000000,177.951836,Low_spent_Large_value_payments,690.918664,Good
45,0x1643,CUS_0x95ee,June,Np,31,612-70-8987,Lawyer,73928.46,5988.705000,4,...,Good,548.20,35.275437,0.000000,No,15515.000000,235.790325,Low_spent_Large_value_payments,633.080175,Good
46,0x1644,CUS_0x95ee,July,Np,31,612-70-8987,Lawyer,73928.46,5988.705000,4,...,_,548.20,36.624791,32.416667,No,0.000000,348.509400,High_spent_Small_value_payments,510.361100,Standard
47,0x1645,CUS_0x95ee,August,Np,31,612-70-8987,Lawyer,73928.46,5988.705000,4,...,Good,548.20,31.580990,32.500000,No,0.000000,42.635590,!@9#%8,796.234910,Good
48,0x164a,CUS_0x284a,January,Nadiaq,33,411-51-0676,Lawyer,131313.40,11242.783333,0,...,Good,352.16,32.200509,30.583333,NM,137.644605,378.171254,High_spent_Medium_value_payments,858.462474,Good
49,0x164b,CUS_0x284a,February,Nadiaq,34,411-51-0676,Lawyer,131313.40,11242.783333,0,...,Good,352.16,31.983710,30.666667,No,137.644605,698.873271,High_spent_Small_value_payments,547.760457,Good
50,0x164c,CUS_0x284a,March,Nadiaq,34,411-51-0676,Lawyer,131313.40,10469.207759,0,...,Good,352.16,31.803134,30.750000,NM,911.220179,188.064321,High_spent_Large_value_payments,1038.569407,Good