<a href="https://colab.research.google.com/github/UEPP40/PUM/blob/Debere/zajecia2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
df = pd.read_csv("train.csv")
df.head()

<ipython-input-4-dd23e3a89ca9>:2: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("train.csv")

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

In [33]:
df.shape

(97224, 28)

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 95187 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        95187 non-null  object
 1   Customer_ID               95187 non-null  object
 2   Month                     95187 non-null  object
 3   Name                      95187 non-null  object
 4   Age                       95187 non-null  int64
 5   SSN                       95187 non-null  object
 6   Occupation                95187 non-null  object
 7   Annual_Income             95187 non-null  float64
 8   Monthly_Inhand_Salary     95187 non-null  float64
 9   Num_Bank_Accounts         95187 non-null  int64
 10  Num_Credit_Card           95187 non-null  int64
 11  Interest_Rate             95187 non-null  int64
 12  Num_of_Loan               95187 non-null  float64
 13  Type_of_Loan              84365 non-null  object
 14  Delay_from_due_date       95187 non-null  int64
 15  Num_of_Delayed_Payment    88494 non-null  float64
 16  Changed_Credit_Limit      95187 non-null  float64
 17  Num_Credit_Inquiries      93323 non-null  float64
 18  Credit_Mix                95187 non-null  object
 19  Outstanding_Debt          95187 non-null  float64
 20  Credit_Utilization_Ratio  95187 non-null  float64
 21  Credit_History_Age        86584 non-null  float64
 22  Payment_of_Min_Amount     95187 non-null  object
 23  Total_EMI_per_month       95187 non-null  float64
 24  Amount_invested_monthly   90942 non-null  float64
 25  Payment_Behaviour         95187 non-null  object
 26  Monthly_Balance           92437 non-null  float64
 27  Credit_Score              95187 non-null  object
dtypes: float64(12), int64(5), object(11)
memory usage: 21.1+ MB

In [7]:
df.drop_duplicates(subset="ID", inplace=True)

In [52]:
df.head(10)

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,265.0,No,49.574949,80.415295,High_spent_Small_value_payments,312.494089,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,31.944960,0.0,No,49.574949,118.280222,Low_spent_Large_value_payments,284.629162,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,31.377862,268.0,No,49.574949,199.458074,Low_spent_Small_value_payments,223.451310,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,269.0,No,49.574949,41.420153,High_spent_Medium_value_payments,341.489231,Good
5,0x1607,CUS_0xd40,June,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,27.262259,270.0,No,49.574949,62.430172,!@9#%8,340.479212,Good
6,0x1608,CUS_0xd40,July,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,22.537593,271.0,No,49.574949,178.344067,Low_spent_Small_value_payments,244.565317,Good
7,0x1609,CUS_0xd40,August,nan,23,#F%$D@*&8,Scientist,19114.12,1824.843333,3,...,Good,809.98,23.933795,0.0,No,49.574949,24.785217,High_spent_Medium_value_payments,358.124168,Standard
8,0x160e,CUS_0x21b1,January,Rick Rothackerj,28,004-07-5839,_______,34847.84,3037.986667,2,...,Good,605.03,24.464031,319.0,No,18.816215,104.291825,Low_spent_Small_value_payments,470.690627,Standard
9,0x160f,CUS_0x21b1,February,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2,...,Good,605.03,38.550848,320.0,No,18.816215,40.391238,High_spent_Large_value_payments,484.591214,Good
10,0x1610,CUS_0x21b1,March,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2,...,_,605.03,33.224951,321.0,No,18.816215,58.515976,High_spent_Large_value_payments,466.466476,Standard

In [10]:
duplicates = df.duplicated(subset=['ID'])
if duplicates.any():
    print("Znaleziono duplikaty w kolumnie 'ID'.")
    print(df[duplicates])
else:
    print("Brak duplikatów w kolumnie 'ID'.")

Brak duplikatów w kolumnie 'ID'.

In [15]:
# Sprawdź unikalne wartości w kolumnie 'Age'
unique_age_values = df['Age'].unique()

# Sprawdź, czy istnieją wartości, które nie są liczbami
invalid_age_values = []

for value in unique_age_values:
    try:
        int_value = int(value)
    except ValueError:
        invalid_age_values.append(value)

if invalid_age_values:
    print("Znaleziono nieprawidłowe wartości w kolumnie 'Age':", invalid_age_values)
else:
    print("Brak nieprawidłowych wartości w kolumnie 'Age'.")

Znaleziono nieprawidłowe wartości w kolumnie 'Age': ['28_', '34_', '30_', '24_', '33_', '35_', '31_', '40_', '37_', '54_', '21_', '20_', '43_', '38_', '18_', '2111_', '46_', '16_', '19_', '47_', '53_', '25_', '27_', '55_', '42_', '48_', '49_', '50_', '32_', '22_', '17_', '29_', '15_', '51_', '26_', '39_', '14_', '36_', '44_', '7670_', '45_', '23_', '41_', '52_', '733_', '5769_', '4383_', '56_', '2650_', '3307_', '6962_', '5589_', '6556_', '1447_', '8153_', '3834_', '6744_', '6471_', '7723_', '7640_', '6408_', '3502_', '7316_', '1102_', '8669_', '2463_', '6666_', '3055_', '1248_', '2220_', '2159_', '4583_', '3988_', '2155_', '6770_', '1843_', '1367_', '3742_', '2171_', '5109_', '3984_', '2474_', '5046_', '7715_', '2329_', '707_', '844_', '2756_', '2037_', '902_', '8523_', '3640_', '3998_', '3712_', '2097_', '8348_', '5373_', '3291_', '2994_', '3339_', '2812_', '3578_', '3564_', '1794_', '737_', '4301_', '2846_', '2373_', '1188_', '8207_', '5909_', '6381_', '8616_', '6799_', '1591_', '3775_', '6564_', '7122_', '4913_', '5697_', '3843_', '4445_', '6921_', '780_', '1070_', '5798_', '4808_']

In [16]:
df['Age'] = df['Age'].str.replace('_','')

In [21]:
df['Monthly_Inhand_Salary'] = df['Monthly_Inhand_Salary'].fillna(method='pad')

In [23]:
df['Annual_Income'] = df['Annual_Income'].str.replace('_','')

In [24]:
df["ID"] = df["ID"].astype(str)
df["Customer_ID"] = df["Customer_ID"].astype(str)
df["Month"] = df["Month"].astype(str)
df["Name"] = df["Name"].astype(str)
df["Age"] = df["Age"].astype(int)
df["Annual_Income"] = df["Annual_Income"].astype(float)
df["Monthly_Inhand_Salary"] = df["Monthly_Inhand_Salary"].astype(float)

In [26]:
# Sprawdź unikalne wartości w kolumnie 'Age'
unique_age_values = df['Age'].unique()

# Sprawdź, czy istnieją wartości, które nie są liczbami
invalid_age_values = []

for value in unique_age_values:
    try:
        int_value = int(value)
    except ValueError:
        invalid_age_values.append(value)

if invalid_age_values:
    print("Znaleziono nieprawidłowe wartości w kolumnie 'Age':", invalid_age_values)
else:
    print("Brak nieprawidłowych wartości w kolumnie 'Age'.")

Brak nieprawidłowych wartości w kolumnie 'Age'.

In [27]:

df["ID"]=df["ID"].fillna('NaN')
df['Customer_ID'] = df['Customer_ID'].fillna('NaN')
df['Month'] = df['Month'].fillna('NaN')
df['Name'] = df['Name'].fillna('NaN')

In [30]:
df = df.drop(df[(df['Age'] > 100) | (df['Age'] < 0)].index) #błędnie - usunąłem wiersze ktore miały zły wieku

In [34]:
df["Num_Bank_Accounts"] = df["Num_Bank_Accounts"].astype(int)

In [36]:
FeaturesToConvert = ['Num_of_Loan', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit', 'Outstanding_Debt', 'Amount_invested_monthly', 'Monthly_Balance']
for feature in FeaturesToConvert:
  df[feature] = df[feature].str.replace('_','')

In [39]:
df["Amount_invested_monthly"] = df["Amount_invested_monthly"].astype(float)
df["Monthly_Balance"] = df["Monthly_Balance"].astype(float)
df["Credit_Utilization_Ratio"] = df["Credit_Utilization_Ratio"].astype(float)
df["Outstanding_Debt"] = df["Outstanding_Debt"].astype(float)
df["Num_of_Delayed_Payment"] = df["Num_of_Delayed_Payment"].astype(float)
df["Num_of_Loan"] = df["Num_of_Loan"].astype(float)
df = df.dropna(subset=["Changed_Credit_Limit"])
df = df[df["Changed_Credit_Limit"] != '']
df["Changed_Credit_Limit"] = df["Changed_Credit_Limit"].astype(float)
df["Num_of_Delayed_Payment"] = df["Num_of_Delayed_Payment"].astype(float)
df["Num_of_Loan"] = df["Num_of_Loan"].astype(float)

In [41]:
def convert_to_years(text):
    if isinstance(text, str):
        parts = text.split()
        year = int(parts[0])
        month = int(parts[3])

        credit_age_numeric = year + month / 12
        return credit_age_numeric
    else:
        return text
df["Credit_History_Age"] = df["Credit_History_Age"].apply(lambda x: convert_to_years(x))

In [ ]:
df["Credit_History_Age"] = df["Credit_History_Age"].fillna(0)
df["Credit_History_Age"] = df["Credit_History_Age"].astype(float)
df.head(50)

In [48]:
df["Credit_History_Age"] = df["Credit_History_Age"] * 12

In [55]:
from sklearn.preprocessing import MinMaxScaler
#ZMIENIA LICZBY W KOLUMNIE NA ROZKLAD NORMALNY
scaler = MinMaxScaler()
col_float = ['Annual_Income']

for i in col_float:
    df[i] = scaler.fit_transform(df[[i]].values.reshape(-1, 1))

df.head(10)

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,0.000501,1824.843333,3,...,_,809.98,26.822620,265.0,No,49.574949,80.415295,High_spent_Small_value_payments,312.494089,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,0.000501,1824.843333,3,...,Good,809.98,31.944960,0.0,No,49.574949,118.280222,Low_spent_Large_value_payments,284.629162,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,0.000501,1824.843333,3,...,Good,809.98,31.377862,268.0,No,49.574949,199.458074,Low_spent_Small_value_payments,223.451310,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,0.000501,1824.843333,3,...,Good,809.98,24.797347,269.0,No,49.574949,41.420153,High_spent_Medium_value_payments,341.489231,Good
5,0x1607,CUS_0xd40,June,Aaron Maashoh,23,821-00-0265,Scientist,0.000501,1824.843333,3,...,Good,809.98,27.262259,270.0,No,49.574949,62.430172,!@9#%8,340.479212,Good
6,0x1608,CUS_0xd40,July,Aaron Maashoh,23,821-00-0265,Scientist,0.000501,1824.843333,3,...,Good,809.98,22.537593,271.0,No,49.574949,178.344067,Low_spent_Small_value_payments,244.565317,Good
7,0x1609,CUS_0xd40,August,nan,23,#F%$D@*&8,Scientist,0.000501,1824.843333,3,...,Good,809.98,23.933795,0.0,No,49.574949,24.785217,High_spent_Medium_value_payments,358.124168,Standard
8,0x160e,CUS_0x21b1,January,Rick Rothackerj,28,004-07-5839,_______,0.001151,3037.986667,2,...,Good,605.03,24.464031,319.0,No,18.816215,104.291825,Low_spent_Small_value_payments,470.690627,Standard
9,0x160f,CUS_0x21b1,February,Rick Rothackerj,28,004-07-5839,Teacher,0.001151,3037.986667,2,...,Good,605.03,38.550848,320.0,No,18.816215,40.391238,High_spent_Large_value_payments,484.591214,Good
10,0x1610,CUS_0x21b1,March,Rick Rothackerj,28,004-07-5839,Teacher,0.001151,3037.986667,2,...,_,605.03,33.224951,321.0,No,18.816215,58.515976,High_spent_Large_value_payments,466.466476,Standard